<h1>All Flats</h1>


<% @flats.each do |flat| %>
  <%= link_to flat.name, flat_path(flat) %>
  <%= simple_form_for (@bookmark) do |f| %>
    <%= f.hidden_field :flat_id, value: flat.id %>
    <button id="heart-button" type="submit">
      <% saved = current_user.bookmarks.select { |bookmark| bookmark.flat == flat }  %>
      <% if saved.empty? %>
        <i class="fa-regular fa-heart"></i>
      <% else %>
        <i class="fa-solid fa-heart"></i>
      <% end %>
    </button>
  <% end %>
<% end %>

<%= link_to 'New flat', new_flat_path %>
