<div class="container mt-5">
  <h1>My Bookings</h1>
  <ol>
    <% @bookings.each do |booking| %>
      <li>
        <%= link_to booking.flat.name, booking_path(booking) %>
      </li>
    <% end %>
  </ol>
</div>
