.modal-content {
  border-radius: 10px;
}

.modal-login {
  display: flex;
  justify-content: center;
}

.close-modal {
  background-color: #FFFFFF;
  border: none;
  padding: 8px 24px;
  font-weight: lighter;
}

.modal-actions {
  display: flex;
}

.modal-actions a {
  margin-top: 10px;
  padding: 10px;
}
